
nav{
    display: flex;
font-family: Arial, Helvetica, sans-serif;
width:75%; 
margin: 0 auto;
}
*{font-family: 'Montserrat', sans-serif;}


#name{
    display:flex;
    justify-content: flex-start;
    flex-basis: 100%;
    align-items: center;
}
#links{
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
}

#links a{
    margin-left: 5px;
    margin-right: 5px;
}

#about{
    width: 75%;
    margin: 0 auto;
    
}

img[src*="code"]{
width:50%;
}
