
nav{
    display: flex;
font-family: Arial, Helvetica, sans-serif;
width:75%; 
margin: 0 auto;
}
*{font-family: 'Montserrat', sans-serif;
background-color: azure;}


#name{
    display:flex;
    justify-content: flex-start;
    flex-basis: 100%;
    align-items: center;
}
#links{
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
}

#links a{
    margin-left: 5px;
    margin-right: 5px;
}

#about{
    margin: 0 auto;
    
    
}

img[src*="code"]{
width:50%;
}

#container2{
    display: flex;
    width:75%;
    margin: 0 auto;
    
}
#webdevImg{
    width:50%;
   
    
}
img[src*="web"]{
    width:100%;
    }

@media only screen and (max-width: 600px) {
    img[src*="web"]{
        display: none;
        }
        nav{
            display: block;
        width:100%; 
        }
        #name{
            display:block;
            text-align: center
          
           
        }
        #links{
            display: block;
           line-height: 1px;
            text-align: center
        }

        
}   